## Modulos

In [1]:
from sklearn.datasets import load_diabetes
import pandas as pd
import numpy as np

----------------------------------------------

## Cargando Dataset

Age: Edad en años
Sex: sexo (1=Male, 2=Female)
BMI: índice de masa corporal
bp: Presión arterial promedio
S1 TC: colesterol sérico total
S2 LDL: lipoproteínas de baja densidad
S3 HDL: lipoproteínas de alta densidad
S4 tch: colesterol total / HDL
S5 LTG: logaritmo del nivel sérico de triglicéridos
S6 glu: nivel de azúcar en sangre
Target: medida cuantitativa de la progresión de la enfermedad un año después del inicio

In [2]:
diabetes = load_diabetes(scaled=False)
df = pd.DataFrame(data=diabetes.data, columns=diabetes.feature_names)
df['target'] = diabetes.target

-----------------------------------------

## Caracteristicas del Dataset

In [3]:
print(df.shape)

(442, 11)

In [4]:
df.head()

    age  sex   bmi     bp     s1     s2    s3   s4      s5    s6  target
0  59.0  2.0  32.1  101.0  157.0   93.2  38.0  4.0  4.8598  87.0   151.0
1  48.0  1.0  21.6   87.0  183.0  103.2  70.0  3.0  3.8918  69.0    75.0
2  72.0  2.0  30.5   93.0  156.0   93.6  41.0  4.0  4.6728  85.0   141.0
3  24.0  1.0  25.3   84.0  198.0  131.4  40.0  5.0  4.8903  89.0   206.0
4  50.0  1.0  23.0  101.0  192.0  125.4  52.0  4.0  4.2905  80.0   135.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     442 non-null    float64
 1   sex     442 non-null    float64
 2   bmi     442 non-null    float64
 3   bp      442 non-null    float64
 4   s1      442 non-null    float64
 5   s2      442 non-null    float64
 6   s3      442 non-null    float64
 7   s4      442 non-null    float64
 8   s5      442 non-null    float64
 9   s6      442 non-null    float64
 10  target  442 non-null    float64
dtypes: float64(11)
memory usage: 38.1 KB

In [6]:
df.isna().sum()

age       0
sex       0
bmi       0
bp        0
s1        0
s2        0
s3        0
s4        0
s5        0
s6        0
target    0
dtype: int64

--------------------------------

## Guardando dataset

In [7]:
df.to_csv('diabetes.txt', sep='|', index=False)